<!--start container-->
<div class="container">
  <div class="section">
    <div class="divider"></div>
    <!--Basic Form-->
    <div id="basic-form" class="section">
      <div class="row">
        <div class="col s12">
          <div id="flight-card" class="card">
            <div class="card-header blue accent-1">
              <div class="card-title">
                <h5 class="flight-card-title center">Nova Atividade</h5>
              </div>
            </div>
            <div class="col s12" style="padding-top: 20px">
              <form>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="titulo-atividade" type="text" class="validate">
                    <label for="titulo-atividade">Título</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="descricao" class="materialize-textarea validate"></textarea>
                    <label for="descricao">Descrição</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <label>Eixo</label>
                    <input type="radio" name="eixo" value="ensino" id="ensino">
                    <label for="ensino">Ensino</label>
                    <input type="radio" name="eixo" value="pesquisa" id="pesquisa">
                    <label for="pesquisa">Pesquisa</label>
                    <input type="radio" name="eixo" value="extensao" id="extensao">
                    <label for="extensao">Extensão</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" id="categoria" class="materialize-textarea validate">
                    <label for="categoria">Categoria</label>
                  </div>
                  <!--
                    <div class="input-field col s12">
                      <select>
                        <option value="" disabled selected>Escolha a categoria</option>
                        <optgroup label="Ensino">
                          <option value="gapro">GAPRO</option>
                          <option value="cafe">Café com Especialista</option>
                        </optgroup>
                        <optgroup label="Pesquisa">
                          <option value="divulga">DivulgaPET</option>
                        </optgroup>
                      </select>
                      <label>Categoria da atividade</label>
                    </div>
                  -->
                </div>
                <div class="row">
                  <div class="input-field col s3">
                    <input id="data" type="text" class="validate" />
                    <label for="data">Data</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="hora-inicio" type="text" class="validate" />
                    <label for="hora-inicio">Hora início</label>
                  </div>
                  <div class="input-field col s3">
                    <input id="duracao-total" type="text" class="validate" />
                    <label for="duracao-total">Duração total</label>
                  </div>
                </div>

                <div class="row" style="padding-bottom: 20px;">
                  <div class="col s12">
                    <button class="btn blue accent-2 waves-effect waves-light right" type="submit" name="action">Salvar
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>